.gave {
    position: relative;
    text-align: center;
}

.gave .code::after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -7.5px;
    position: absolute;
    top: 100%;
    width: 0;
}
.gave .code {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 100%;
    box-shadow: 0 0 15px #e5e5e5;
    color: #68b3de;
    display: none;
    font-size: 13px;
    /*height: 160px;*/
    left: 50%;
    box-sizing: content-box;
    margin-left: -123px;
    padding:5px;
    position: absolute;
    width:230px;
    z-index: 999;
    text-align: center;
}
.gave a {
    background: linear-gradient(to bottom,#fccd60 0,#fbae12 100%,#2989d8 100%,#207cca 100%);
    border: 1px solid #f1b60e;
    border-radius: 50%;
    color: #fff !important;
    display: inline-block;
    font-size: 2.4rem;
	line-height: 4.6rem;
    text-align: center;
	text-decoration: none;
    width: 4.6rem;
    -webkit-user-select: none;
    height: 4.6rem;
    vertical-align: middle;
}

.gave .code > img {
    height: 124px;
    /*width: 124px;*/
    border: medium none;
    max-width: 100%;
}